<ion-header>
  <ion-toolbar>
    <ion-title>{{teamTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-grid class="custom-grid">
  <ion-row lines="none" *ngFor="let player of playersFromSelectedTeamId" class="player ion-justify-content-start">
    <ion-col size="4">
        <img alt="Silhouette of mountains" [src]="player.thumbnail" />
    </ion-col>
    <ion-col size="8">
      <ion-label class="custom-text">
          <h2>{{player.name}}</h2>
          <p>{{player.position}}</p>
          <p>birthDate : {{player.born | date:'yyyy-MM-dd'}}</p>
          <p>price: {{player.signin.amount | currency:(player.signin.currency.toUpperCase()):'symbol':'4.2-2':'fr'}}</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
