.player {
  background-color: #d7d7d7;
  margin-bottom: 1vh;
  padding: 2vh;
  h2 {
    color: black;
  }

  .position:{
    font-style: italic;
  }
}

.custom-grid {
  padding: 0;
  background-color: white;
}

