
<ion-content>
  <ion-searchbar show-cancel-button="always" [(ngModel)]="searchTerm" placeholder="Ligue..."></ion-searchbar>
  <ion-list [hidden]="!searchTerm">
    <ion-item button *ngFor="let league of leaguesItems | filter:searchTerm" >
      <ion-label (click)="setLeaguesData(league)">{{ league.name }}</ion-label>
      </ion-item>
  </ion-list>
  <ion-row [hidden]="!searchTerm" class="row-card" >
    <ion-col size="6" class="col-card" *ngFor="let league of leaguesItems | filter:searchTerm">
      <ion-card class="card-service">
        <img [src]="league.imgLink" class="img-service" (click)="setLeaguesData(league)"/>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
